/* Coded with love by Mutiullah Samim */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #60a3bc !important;
  font-family: "Liberation Sans";
}
.user-card {
  height: 500px;
  width: 350px;
  margin-top: 15%;
  background: #E1E2E1;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-card{
  background-color: #2e7d32;
  width: 350px;
  height: 110px;
  position: relative;
}

/* HEADER */

/** LOGO */
.logo_container {
  position: relative;
  width: 0px;
  top: -30%;
  left: 50%;
  margin-left: -35px;


}
.logo {
  height: 70px;
  width: 70px;
}

/** CLOSE */
.close_container {
  position: relative;
  width: 0px;
  height: 0px;
  left: 100%;
  top: -60%;
  /*margin-top: -13px;*/
  margin-left: -10px;
}
.close-icon {
  cursor: pointer;
  height: 26px;
  width: 26px;
}

.header_text_container{
  position: relative;
  width: 0px;
  top: -30%;
}
.header-text{
  position: relative;
  width: 350px;
  font-size: 25px;
  color: rgba(255,255,255,0.87) ;
  font-weight: 400;
  -webkit-font-smoothing:antialiased;
}
/* BODY */

.form-card {

}
/* INPUTS */
.input-user,
.input-pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
  font-family: "Liberation Sans";
}

.form-card-checkbox{
  color: rgba(0,0,0,0.87);
  margin-left: 00%;
}
/* Login button*/
.form-buttons {
  width: 80%;
  background-color: #2e7d32 !important;
  color: white !important;
  padding: 1 2rem;
}
.form-buttons:focus{
  box-shadow: none !important;
  outline: 0px !important;

}
.form-buttons:hover {
  background-color: #60ac5d !important;
  box-shadow: none !important;
  outline: 0px !important;
}

.forgot-pass{
  margin-right: 00%;
}

.hor-divider{
  margin-top: .1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}

/* Links */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}


