/* Coded with love by Mutiullah Samim */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #60a3bc !important;
}
.user_card {
  height: 450px;
  width: 350px;
  margin-top: 110px;
  margin-bottom: auto;
  background: #E1E2E1;
  position: relative;
  font-family: "Liberation Sans";
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-card{
  background-color: #2e7d32;
  width: 350px;
  margin-right: -20px;
  margin-left: -20px;
  top: -25px;
  height: 110px;
  position: relative;
}

/* HEADER */

/** LOGO */
.logo_container {
  position: relative;
  height: 180px;
  width: 180px;
  top: -60px;
  left: 50%;
  margin-left: -50px;

}
.logo {
  height: 100px;
  width: 100px;
}

/** CLOSE */
.close_container {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -35px;
  right: -35px;
  padding: 10px;
  z-index: 3;
}
.close-icon {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.header-text{
  position: relative;
  top: -130px;
  text-align: center;
  font-family: "Liberation Sans";
  font-size: 25px;
  color: rgba(255,255,255,0.87) ;
  font-weight: 400;
  -webkit-font-smoothing:antialiased;
}
/* BODY */

.form-card {

}
/* INPUTS */
.input-user,
.input-pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
  font-family: "Liberation Sans";
}

.form-card-checkbox{
  color: rgba(0,0,0,0.87);
  margin-left: 00%;
}
/* Login button*/
.form-buttons {
  width: 80%;
  background-color: #2e7d32 !important;
  color: white !important;
  padding: 1 2rem;
}
.form-buttons:focus{
  box-shadow: none !important;
  outline: 0px !important;

}
.form-buttons:hover {
  background-color: #60ac5d !important;
  box-shadow: none !important;
  outline: 0px !important;
}

.forgot-pass{
  margin-right: 00%;
}

.hor-divider{
  margin-top: .1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}

/* Links */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}


